@font-face
{
font-family:myFF1;
src:url('b.ttf');
}
hr
{
opacity:0.2;
}
body
{
font-family:myFF1;
color:white;
background-image:url('t.jpg');

}

#one
{
margin-left:10.1em;
}

#two
{
margin-left:11em;
}

#three
{
margin-left:8.65em;
}

#four
{
margin-left:8em;
}

#five
{
margin-left:5em;
}

#sub
{
color:grey;
//font-family:myFF1;
text-align:center;
width:8em;
padding:0.4em;
float:left;
background-color:black;
}
#sub:hover
{
background-color:grey;
color:black;
}
